language: php

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - hhvm

before_script:
  - composer self-update
  - composer require satooshi/php-coveralls:dev-master --no-update --dev
  - composer install

script:
  - mkdir -p build/logs
  - phpunit --coverage-text
  - ./vendor/bin/phpcs src --standard=psr2

after_script:
  - php vendor/bin/coveralls
