language: php

php:
  - 5.3
  - 5.4
  - 5.5
  - hhvm

before_script:
  - composer self-update
  - composer install
  - pear install pear/PHP_CodeSniffer

script:
  - phpcs --standard=psr2 src/
  - phpunit --coverage-text
