<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="League Test Suite">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="/tmp/coverage.xml"/>
    </logging>
    <listeners>
        <listener class="League\PHPUnitCoverageListener\Listener">
            <arguments>
                <array>
                    <element key="printer">
                      <object class="League\PHPUnitCoverageListener\Printer\StdOut"/>
                    </element>
                    <element key="hook">
                      <object class="League\PHPUnitCoverageListener\Hook\Travis"/>
                    </element>
                    <element key="namespace">
                        <string>League\Fractal</string>
                    </element>
                    <element key="repo_token">
                        <string>SWXV74M3EDTakDezlQvrc12eH4ODwk0bV</string>
                    </element>
                    <element key="target_url">
                        <string>https://coveralls.io/api/v1/jobs</string>
                    </element>
                    <element key="coverage_dir">
                        <string>/tmp</string>
                    </element>
                </array>
            </arguments>
        </listener>
    </listeners>
</phpunit>
